<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" conten="ID=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
  	      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>title</title>
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-10 col-xs-offset-1">
  			<div style="text-align: center;"><font size="5" face="Roboto Slab">You should now have a playlist called "Spotify_Queue."</font></div>
  			</div>
  		</div>
  		<div class="row h-100">
  			<div class="col-xs-10 col-xs-offset-1">
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-10 col-xs-offset-1">
  				 <div style="text-align: center;"><font size="4" face="Roboto Slab"><br><br>Users can now add songs to that playlist using the code:</font></div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-10 col-xs-offset-1">
  				<div style="text-align: center;"><font size="10" face="Roboto Slab"><span>{{code}}</span></font></div>
  			</div>
  		</div>
  	</div>





  	   <!-- jquery file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
  </body>
</html>